.lectureCard {
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 100ms;
}

.lectureCard:hover {
  opacity: 0.9;
  cursor: pointer;
}

.lectureCard___image {
  object-fit: contain;
  height: 200px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.lectureCard__container {
  padding: 0.5rem;
}

.lectureCard__container div {
  text-align: right;
}
