.lectureCard {
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.5s;
}

.lectureCard:hover {
  transform: scale(1.03);
  background-color: rgba(200, 200, 200, 0.8);
  color: black;
}

.lectureCard___image {
  object-fit: contain;
  height: 200px;
  min-width: 350px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.lectureCard__container {
  padding: 0.5rem;
}

.lectureCard__container div {
  text-align: right;
}
