.lectureCard {
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 14px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 14px -1px rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.lectureCard:hover {
  transform: scale(1.03);
}

.lectureCard___image {
  object-fit: contain;
  height: 75%;
  width: 100%;
}

.lectureCard__container {
  padding: 0.65rem;
}

.lectureCard__container div {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .lectureCard {
    width: 100%;
  }
}
