.lectureIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  margin-top: 1rem;
}

.lectureIntro__imgContainer {
  width: 70%;
  justify-content: space-between;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.lectureIntro__image {
  margin: auto;
  width: 100%;
  object-fit: contain;
}
.lectureIntro__buttonContainer {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.lectureIntro__buttonContainer button {
  background-color: transparent;
  font-size: 2.5rem;
  border: none;
  cursor: pointer;
  color: #e9a701;
  transition: all 0.5s;
}

.lectureIntro__buttonContainer button:hover {
  filter: brightness(1.2);
}

.lectureIntro__buttonContainer button:first-child:hover {
  transform: rotate(75deg);
}

.lectureIntro__buttonContainer button:last-child {
  margin-left: 1rem;
}

.lectureIntro__info {
  width: 100%;
}

.lectureIntro__info div {
  display: flex;
  justify-content: flex-end;
}

.lectureIntro__info p {
  border: 1px solid;
  border-radius: 5px;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .lectureIntro__imgContainer {
    width: 90% !important;
  }
}
