.commentAdder {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  min-height: -webkit-fit-content;
}
.commentAdder__form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.commentAdder__textarea {
  resize: none;
  padding: 0.5rem;
  flex: 0.95;
  margin-right: 0.5rem;
}

.commentAdder button {
  flex: 0.05;
}
