.commentAdder {
  display: flex;
  justify-content: center;
  min-height: -webkit-fit-content;
  margin-bottom: 1rem;
}
.commentAdder__form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.commentAdder__textarea {
  resize: none;
  padding: 0.5rem;
  flex: 0.95;
  margin-right: 0.5rem;
}

.commentAdder button {
  flex: 0.05;
}

@media screen and (max-width: 576px) {
  .commentAdder {
    width: 100%;
  }
}
