.board {
  padding: 1rem 4rem;
  height: 90vh;
  overflow-y: scroll;
}

.MuiTableBody-root .MuiTableRow-root {
  cursor: pointer;
}
.MuiTableBody-root .MuiTableRow-root:hover {
  opacity: 0.7;
}

@media screen and (max-width: 576px) {
  .board {
    padding: 2rem;
  }
}
