.notion__container {
  /* padding: 0.7rem; */
  flex: 0.7;
  border-radius: 10px;
  height: 88vh;
  overflow-y: scroll;
}

.notion__container h1 {
  width: 100%;
}

.notion {
  color: inherit !important;
}

.notion-hr {
  border-color: lightgray;
}

.notion-row .notion-column span {
  background-color: inherit;
}

@media screen and (max-width: 900px) {
  .notion__container {
    flex: 1;
  }
}
