.FavoriteLectures {
  flex: 0.4;
  border-radius: 5px;
  box-shadow: 0px 3px 14px -1px rgba(0, 0, 0, 0.75);
  padding: 1rem;
}

.FavoriteLectures div {
  display: inline;
  padding: 0.7rem;
}

.FavoriteLectures ul {
  list-style: none;
  padding: 1rem;
}
.FavoriteLectures li {
  transition: all 0.5s;
}

.FavoriteLectures li:hover {
  filter: brightness(1.2);
}

@media screen and (max-width: 768px) {
  .FavoriteLectures {
    margin-top: 1rem;
  }
}
