.FavoriteLectures {
  flex: 0.4;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 1rem;
}

.FavoriteLectures div {
  display: inline;
  padding: 0.7rem;
}

.FavoriteLectures ul {
  list-style: none;
  padding: 1rem;
}
.FavoriteLectures li {
  transition: all 0.5s;
}

.FavoriteLectures li:hover {
  filter: brightness(1.2);
}
