.modal__form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.modal__formLogin {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid;
  padding-top: 0.5rem;
}

.nav__buttonContainer button span svg {
  margin-right: 0.5rem;
}
