.logo {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  object-fit: contain;
  width: 80%;
}
