.lecture {
  display: flex;
  height: 88.4vh;
}

.lecture__sidebar {
  flex: 0.2 1;
  min-width: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  height: 88vh;
}

.lecture__videoAndComment {
  flex: 1 1;
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 100px;
  height: 88vh;
}

.lecture__intro {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 73vh;
}

.lecture__introContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.lecture img {
  width: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.lecture__buttonContainer {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
}

.lecture__buttonContainer button {
  background-color: transparent;
  font-size: 2.5rem;
  border: none;
  cursor: pointer;
  color: #e9a701;
  transition: filter 0.5s;
}

.lecture__buttonContainer button:hover {
  filter: brightness(1.2);
}

.lecture__buttonContainer button:last-child {
  margin-left: 1rem;
}

.lecture__info {
  width: 100%;
}

.lecture__info div {
  display: flex;
  justify-content: flex-end;
}

.lecture__info p {
  border: 1px solid;
  border-radius: 5px;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .lecture__introContainer {
    width: 90% !important;
  }
}
