.lecture {
  display: flex;
  height: 88.4vh;
}

.lecture__sidebar {
  flex: 0.2 1;
  min-width: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

.lecture__videoAndComment {
  flex: 1 1;
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.lecture__intro {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lecture img {
  width: 80%;
  object-fit: contain;
  border-radius: 12px;
}
