.lecture {
  display: flex;
  height: 88vh;
}

.lecture__videoAndComment {
  flex: 1 1;
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 100px;
  height: 88vh;
  align-items: center;
}
