.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: -webkit-fit-content;
}

.comment__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid;
}

.comment__username {
  width: 100%;
  font-size: 1rem;
  margin: 0.3rem 0;
}

.comment__text {
  width: 100%;
  background-color: rgba(200, 200, 200, 0.2);
  padding: 1rem;
  resize: none;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.comment_button {
  margin: 0.3rem !important;
}

.comment__reply {
  margin: 0 0.5rem;
}

.comment__time {
  width: 90px;
  margin-left: auto;
  font-size: 0.7rem;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .comment {
    width: 100%;
  }
}
