.lectureCreator__uploadContainer {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 0.5rem;
  border-radius: 5px;
}

.lectureCreator__uploadContainer input {
  margin-bottom: 5px;
}

.lectureCreator__uploadContainer input::placeholder {
  color: red;
}

.lectureCreator .MuiButton-root {
  width: 100%;
  margin-top: 5px;
}
