.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  padding: 2rem;
  justify-items: center;
  align-items: center;
  row-gap: 20px;
  width: 100%;
}
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

@media screen and (max-width: 1024px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .home {
    grid-template-columns: repeat(1, 1fr);
  }
}
