.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 88vh;
  overflow-y: scroll;
}
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

@media screen and (max-width: 1024px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .home {
    grid-template-columns: repeat(1, 1fr);
  }
}
