header {
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  height: 10vh;
  position: sticky;
}

.nav {
  padding: 0 4rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav__linkContainer {
  flex: 0.2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.nav__linkContainer:last-child {
  flex: 0.5 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__logo {
  object-fit: contain;
  height: 60px;
  transition: all 0.5s;
  border-radius: 50%;
}
.nav__logo:hover {
  background-color: rgba(200, 200, 200, 0.3);
}

.nav__displayName {
  margin-right: 20px;
  width: 18%;
}

.nav__displayName span {
  font-weight: bold;
  font-size: 1rem;
}

.nav__linkContainer span {
  border: none;
}

.nav__link {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  transition: all 0.5s;
  margin: 3px;
}

.nav__link img {
  height: 2.1rem;
  width: 2.1rem;
  border-radius: 50%;
}

.nav__link .MuiSvgIcon-root {
  width: 80%;
  height: 80%;
}

.nav__link:hover {
  background-color: rgba(200, 200, 200, 0.3);
}

.nav__hamburgerBtn {
  border: none;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.nav__hamburgerBtn svg {
  width: 1.8rem;
  height: 1.8rem;
}

@media screen and (max-width: 1024px) {
  .nav__displayName {
    font-size: 0.7rem;
  }
  .nav__displayName span {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 576px) {
  .nav {
    padding: 0 2rem;
  }
  .nav__displayName {
    display: none;
  }
  .nav__mobile {
    padding: 1rem;
    position: absolute;
    background-color: rgb(47, 49, 53);
    left: 0;
    margin-top: 1px;
    /* height: 90vh; */
    border-bottom-right-radius: 10px;
    transform: translateX(-100%);
    transition: all 0.2s ease-out;
    opacity: 0;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }
  .nav__mobile button {
    margin: 10px 0;
  }
  .navbarActive {
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.2s ease-out;
  }
}
