.lectureUpload {
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
}
.lectureUpload h1 {
  padding-right: 1rem;
}
.lectureUpload__titleWrapper {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-bottom: 1rem;
}

.lectureUpload__titleWrapper button {
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.3);
  transition: all 0.5s;
}

.lectureUpload__titleWrapper button:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.lectureUpload__wrapper {
  display: flex;
  justify-content: space-evenly;
}

.lectureUpload__columns:first-child {
  width: 30%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 14px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 14px -1px rgba(0, 0, 0, 0.75);
}

.lectureUpload__columns:last-child {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 35%;
  overflow-y: scroll;
}

.lectureUpload__title {
  margin-bottom: 5px;
}

.lectureUpload__columns input {
  margin-bottom: 10px;
}

.lectureUpload__progress {
  width: 100%;
}
.lectureUpload__input {
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.lectureUpload__columns:first-child .MuiButton-root {
  width: 100%;
  margin-top: 5px;
}

.lectureUpload__input p {
  font-size: 0.8rem;
  color: brown;
}

.lectureUpload__input textarea {
  resize: none;
  border: none;
  padding: 0.5rem 0;
  font-size: 1.3rem;
  font-weight: 300;
}

.lectureUpload__list {
  list-style: none;
}

.lectureUpload__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 0.3rem;
}

.lectureUpload__item:hover {
  background-color: lightgray;
  transition: all 0.5s;
}

.lectureUpload__itemColumn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
