.boardContent {
  width: 70%;
  padding: 1rem 4rem;
  margin: 0 auto;
}

.boardContent__title {
  padding: 2rem;
  font-size: 3rem;
}

.boardContent__content {
  margin: 3rem 0;
  padding: 0 2rem;
  width: 100%;
}

.boardContent__content p {
  margin-bottom: 0.3rem;
}

.boardContent__time {
  display: block;
  padding: 0 2rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.boardContent__divider {
  border-top: 1px solid;

  width: 100%;
}

.boardContent__likes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.boardContent__likesBtn {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  margin-right: 0.3rem;
  cursor: pointer;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardContent__likesBtn:hover {
  opacity: 1;
}

@media screen and (max-width: 576px) {
  .boardContent {
    width: 100%;
  }
}
