.modal__form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.modal__formLogin {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 42px;
  transition: filter 0.5s;
}

.modal__button:hover {
  filter: brightness(1.5);
}

.modal__buttonContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid;
  padding-top: 0.5rem;
}

.modal__buttonContainer button span svg {
  margin-right: 0.5rem;
}
