.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid lightgray;
  height: 12vh;
}
.nav__logo {
  object-fit: contain;
  height: 80px;
  margin-left: 1rem;
  transition: all 0.5s;
}
.nav__logo:hover {
  background-color: rgba(200, 200, 200, 0.3);
}
.nav__linkContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__linkContainer button {
  background-color: transparent;
  cursor: pointer;
}

.nav__linkContainer span {
  border: none;
}

.nav__link {
  width: 60px;
  height: 60px;
  border-radius: 999px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: all 0.5s;
}

.nav__link:hover {
  background-color: rgba(200, 200, 200, 0.3);
}

.nav__link .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
}
