.chaperCollapse {
  width: 100%;
  display: flex;
}

.chaperCollapse button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 0.5rem;
}

.chaperCollapse__time {
  text-align: right;
  font-size: 0.3rem;
}
